#p1{
    color: seagreen;
    margin: 50px;
    background-color: crimson;
    border: solid dodgerblue 5px ;
}
#p2{
    color: coral;
    background-color: black;
    margin: 50px;
}

.design{
    color: lawngreen;
    background-color: gray;
    padding: 15px;

}
/* 
    Ids vs Classes
    1.Ids use a # clause use a .(dot)
    2.Ids style individual tags ,classes style a group
    3.Ids cannot be repeated , classes can be repeated 
*/

.awesome{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35pt;
    text-align: center;
}
.great{
    border: solid maroon 5px;
    padding: 10px;
}